.DS_Store
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
.build/
.swiftpm/
.env
GoogleService-Info.plist
*.mobileprovision
*.p8
*.cer
*.p12
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/
